<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.cmscore.persistence.sport.dao.SportDataBbSSSDaoMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.skeleton.cms.sportmgr.bo.SportDataBbSSSBO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SPORT_AGAINST_INFO_ID" property="sportAgainstInfoId" jdbcType="DECIMAL" />
    <result column="PRESET_SCORE" property="presetScore" jdbcType="DECIMAL" />
    <result column="SP_BIG" property="spBig" jdbcType="DECIMAL" />
    <result column="SP_SMALL" property="spSmall" jdbcType="DECIMAL" />
    <result column="RELEASE_TIME" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, SPORT_AGAINST_INFO_ID, PRESET_SCORE, SP_BIG, SP_SMALL, RELEASE_TIME,
    UPDATE_TIME, CREATE_TIME
  </sql>

  <select id="findByAgainstInfoId" resultMap="BaseResultMap" parameterType="long" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM SPORT_DATA_BB_BSS
    WHERE SPORT_AGAINST_INFO_ID=#{sportAgainstInfoId,jdbcType=DECIMAL}
    ORDER BY RELEASE_TIME ASC
  </select>


  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hhly.cmscore.persistence.sport.po.SportDataBbSSSPO" >
    insert into SPORT_DATA_BB_BSS (SPORT_AGAINST_INFO_ID,
      PRESET_SCORE, SP_BIG, SP_SMALL, 
      RELEASE_TIME, UPDATE_TIME, CREATE_TIME
      )
    values (#{sportAgainstInfoId,jdbcType=DECIMAL},
      #{presetScore,jdbcType=DECIMAL}, #{spBig,jdbcType=DECIMAL}, #{spSmall,jdbcType=DECIMAL}, 
      #{releaseTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hhly.cmscore.persistence.sport.po.SportDataBbSSSPO" >
    update SPORT_DATA_BB_BSS
    <set >
      <if test="sportAgainstInfoId != null" >
        SPORT_AGAINST_INFO_ID = #{sportAgainstInfoId,jdbcType=DECIMAL},
      </if>
      <if test="presetScore != null" >
        PRESET_SCORE = #{presetScore,jdbcType=DECIMAL},
      </if>
      <if test="spBig != null" >
        SP_BIG = #{spBig,jdbcType=DECIMAL},
      </if>
      <if test="spSmall != null" >
        SP_SMALL = #{spSmall,jdbcType=DECIMAL},
      </if>
      <if test="releaseTime != null" >
        RELEASE_TIME = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>