<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.cmscore.persistence.sport.dao.SportDrawBBDaoMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.cmscore.persistence.sport.po.SportDrawBBPO" >
      <id column="ID" property="id" jdbcType="DECIMAL" />
      <result column="SPORT_AGAINST_INFO_ID" property="sportAgainstInfoId" jdbcType="DECIMAL" />
      <result column="FIRST_SCORE" property="firstScore" jdbcType="VARCHAR" />
      <result column="SECOND_SCORE" property="secondScore" jdbcType="VARCHAR" />
      <result column="THIRD_SCORE" property="thirdScore" jdbcType="VARCHAR" />
      <result column="FOURTH_SCORE" property="fourthScore" jdbcType="VARCHAR" />
      <result column="OUT_TIME_SCORE" property="outTimeScore" jdbcType="VARCHAR" />
      <result column="FULL_SCORE" property="fullScore" jdbcType="VARCHAR" />
      <result column="FULL_WF" property="fullWf" jdbcType="DECIMAL" />
      <result column="LET_WF" property="letWf" jdbcType="VARCHAR" />
      <result column="SIZE_SCORE" property="sizeScore" jdbcType="VARCHAR" />
      <result column="WIN_SCORE" property="winScore" jdbcType="VARCHAR" />
      <result column="DRAW_TIME" property="drawTime" jdbcType="TIMESTAMP" />
      <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR" />
      <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
      <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BBDataResultMap" type="com.hhly.skeleton.cms.sportmgr.bo.SportBBLotteryInfoBO">
    <id column="SPORT_AGAINST_INFO_ID" property="againstId"  jdbcType="INTEGER"/>
    <result column="LOTTERY_CODE" property="lotteryCode" jdbcType="DECIMAL"></result>
    <result column="ISSUE_CODE" property="issueCode" jdbcType="VARCHAR"></result>
    <result column="SYSTEM_CODE" property="systemCode" jdbcType="VARCHAR"></result>
    <result column="HOME_TEAM_ID" property="homeTeamId" jdbcType="INTEGER"></result>
    <result column="VISITI_TEAM_ID" property="guestTeamId" jdbcType="INTEGER"></result>
    <result column="MATCH_ANALYSIS_URL" property="analysisUrl" jdbcType="VARCHAR"></result>
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"></result>
    <result column="SPORT_MATCH_INFO_ID" property="matchId" jdbcType="INTEGER"></result>
    <result column="OFFICIAL_MATCH_CODE" property="officialMatchCode" jdbcType="VARCHAR"></result>
    <result column="MATCH_STATUS" property="matchStatus" jdbcType="VARCHAR"></result>
    <result column="MATCH_INFO_URL" property="matchInfoUrl" jdbcType="VARCHAR"></result>
    <result column="IS_RECOMMEND" property="isRecommend" jdbcType="VARCHAR"></result>
    <result column="STADIUM" property="stadium" jdbcType="VARCHAR"></result>
    <result column="MATCH_LABEL_COLOR" property="color" jdbcType="VARCHAR"></result>
    <result column="OFFICIAL_ID" property="officialId" jdbcType="VARCHAR"></result>
    <result column="IS_NEUTRAL" property="isNeutral" jdbcType="INTEGER"></result>
    <result column="STADIUM" property="stadium" jdbcType="VARCHAR"></result>
    <result column="WEATHER" property="weather" jdbcType="VARCHAR"></result>
    <result column="SALE_END_TIME" property="saleEndTime" jdbcType="TIMESTAMP"></result>
    <result column="LOTTERY_TIME" property="lotteryTime" jdbcType="TIMESTAMP"></result>
    <result column="SALE_STATUS" property="saleStatus" jdbcType="VARCHAR"></result>
    <result column="MATCH_DATA_URL" property="matchDataUrl" jdbcType="VARCHAR"></result>
    <result column="MATCH_FULL_NAME" property="matchFullName" jdbcType="VARCHAR"></result>
    <result column="MATCH_SHORT_NAME" property="matchShortName" jdbcType="VARCHAR"></result>
    <result column="LOGO_URL" property="logoUrl" jdbcType="VARCHAR"></result>
    <result column="MATCH_TYPE" property="matchType" jdbcType="VARCHAR"></result>
    <result column="ODDS_WIN" property="oddsWin" jdbcType="VARCHAR"></result>
    <result column="ODDS_DRAW" property="oddsDraw" jdbcType="VARCHAR"></result>
    <result column="ODDS_FAIL" property="oddsFail" jdbcType="VARCHAR"></result>
    <result column="HOME_TEAM_DATA_URL" property="homeTeamDataUrl" jdbcType="VARCHAR"></result>
    <result column="HOME_TEAM_FULL_NAME" property="homeTeamFullName" jdbcType="VARCHAR"></result>
    <result column="HOME_TEAM_SHORT_NAME" property="homeTeamShortName" jdbcType="VARCHAR"></result>
    <result column="HOME_TEAM_ORDER" property="homeTeamOrder" jdbcType="VARCHAR"></result>
    <result column="HOME_LOGO_URL" property="homeLogoUrl" jdbcType="VARCHAR"></result>
    <result column="GUEST_TEAM_DATA_URL" property="guestTeamDataUrl" jdbcType="VARCHAR"></result>
    <result column="GUEST_TEAM_FULL_NAME" property="guestTeamFullName" jdbcType="VARCHAR"></result>
    <result column="GUEST_TEAM_SHORT_NAME" property="guestTeamShortName" jdbcType="VARCHAR"></result>
    <result column="GUEST_TEAM_ORDER" property="guestTeamOrder" jdbcType="VARCHAR"></result>
    <result column="GUEST_LOGO_URL" property="guestLogoUrl" jdbcType="VARCHAR"></result>
    <result column="MATCH_NAME" property="matchName" jdbcType="VARCHAR"></result>
    <result column="HOME_NAME" property="homeName" jdbcType="VARCHAR"></result>
    <result column="VISITI_NAME" property="guestName" jdbcType="VARCHAR"></result>
    <result column="SPORT_STATUS_BB_ID" property="sportStatusBbId" jdbcType="DECIMAL" />
    <result column="STATUS_WF" property="statusWf" jdbcType="DECIMAL" />
    <result column="STATUS_LET_WF" property="statusLetWf" jdbcType="DECIMAL" />
    <result column="STATUS_BIG_SMALL" property="statusBigSmall" jdbcType="DECIMAL" />
    <result column="STATUS_SCORE_WF" property="statusScoreWf" jdbcType="DECIMAL" />
    <result column="NEWEST_LET_SCORE" property="letScore" jdbcType="DECIMAL" />
    <result column="NEWEST_PRESET_SCORE" property="presetScore" jdbcType="DECIMAL" />

    <result column="SPORT_DRAW_BB_ID" property="sportDrawBbId" jdbcType="DECIMAL" />
    <result column="FIRST_SCORE" property="firstScore" jdbcType="VARCHAR" />
    <result column="SECOND_SCORE" property="secondScore" jdbcType="VARCHAR" />
    <result column="THIRD_SCORE" property="thirdScore" jdbcType="VARCHAR" />
    <result column="FOURTH_SCORE" property="fourthScore" jdbcType="VARCHAR" />
      <result column="OUT_TIME_SCORE" property="outTimeScore" jdbcType="VARCHAR" />
    <result column="FULL_SCORE" property="fullScore" jdbcType="VARCHAR" />
    <result column="FULL_WF" property="fullWf" jdbcType="DECIMAL" />
    <result column="LET_WF" property="letWf" jdbcType="VARCHAR" />
    <result column="SIZE_SCORE" property="sizeScore" jdbcType="VARCHAR" />
    <result column="WIN_SCORE" property="winScore" jdbcType="VARCHAR" />
    <result column="DRAW_TIME" property="drawTime" jdbcType="TIMESTAMP" />

    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"></result>
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"></result>
    <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR"></result>
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"></result>
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"></result>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"></result>
    
    <result column="matchPrimaryId" property="matchPrimaryId" jdbcType="DECIMAL"></result>
    <result column="homeTeamPrimaryId" property="homeTeamPrimaryId" jdbcType="DECIMAL"></result>
    <result column="guestTeamPrimaryId" property="guestTeamPrimaryId" jdbcType="DECIMAL"></result>
      
  </resultMap>

  <sql id="Base_Column_List" >
    ID, SPORT_AGAINST_INFO_ID, FIRST_SCORE, SECOND_SCORE, THIRD_SCORE,
    FOURTH_SCORE,OUT_TIME_SCORE, FULL_SCORE, FULL_WF, LET_WF, SIZE_SCORE, WIN_SCORE, DRAW_TIME, MODIFY_BY,
    MODIFY_TIME, UPDATE_TIME, CREATE_TIME
  </sql>

    <sql id="Select_">
        <if test="lotteryIssue != null">
            AND B.ISSUE_CODE=#{lotteryIssue}
        </if>
        <if test="systemCode != null">
            AND B.SYSTEM_CODE=#{systemCode}
        </if>
        <if test="issueStatus != null">
            AND E.SALE_STATUS=#{issueStatus}
        </if>
        <if test="matchStatus != null">
            AND B.MATCH_STATUS=#{matchStatus}
        </if>
        <if test="officialId != null">
            AND B.OFFICIAL_ID=#{officialId}
        </if>
        <choose>
            <when test="officialNum != null and officialNum != ''">
                <choose>
                    <when test="week != null and week != ''">
                        AND B.OFFICIAL_MATCH_CODE = concat(#{week},#{officialNum})
                    </when>
                    <otherwise>
                        AND B.OFFICIAL_MATCH_CODE like concat('%',#{officialNum})
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                <choose>
                    <when test="week != null and week != ''">
                        AND B.OFFICIAL_MATCH_CODE like concat(#{week},'%')
                    </when>
                    <otherwise>
                        AND 1=1
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
        <if test="analysisId != null">
            AND B.MATCH_ANALYSIS_URL=#{analysisId}
        </if>
        <if test="matchBeginTime != null">
            <![CDATA[ AND B.START_TIME >= #{matchBeginTime} ]]>
        </if>
        <if test="matchEndTime != null">
            <![CDATA[ AND B.START_TIME <= #{matchEndTime} ]]>
        </if>
        <if test="saleStartTime != null">
            <![CDATA[ AND B.SALE_END_TIME <= #{saleStartTime} ]]>
        </if>
        <if test="saleEndTime != null">
            <![CDATA[ AND B.SALE_END_TIME <= #{saleEndTime} ]]>
        </if>
	    <if test="lotteryIssue == null and matchStatus == null and systemCode == null">
			AND B.ISSUE_CODE is not null AND <![CDATA[ B.MATCH_STATUS in (9,10,11,12,13,17) ]]>   
	    </if>        
    </sql>


    <sql id="innerTableSql">
        FROM SPORT_AGAINST_INFO B
        LEFT JOIN SPORT_DRAW_BB A ON A.SPORT_AGAINST_INFO_ID = B.ID
        LEFT JOIN SPORT_DATA_BB_SP J ON J.SPORT_AGAINST_INFO_ID=B.ID
        LEFT JOIN LOTTERY_ISSUE E ON E.ISSUE_CODE = B.ISSUE_CODE AND E.LOTTERY_CODE = B.LOTTERY_CODE
        LEFT JOIN SPORT_MATCH_INFO M ON M.ID = B.SPORT_MATCH_INFO_ID AND M.MATCH_TYPE=2
        LEFT JOIN SPORT_TEAM_INFO H ON H.ID = B.HOME_TEAM_ID AND H.TEAM_TYPE=2
        LEFT JOIN SPORT_TEAM_INFO G ON G.ID = B.VISITI_TEAM_ID AND G.TEAM_TYPE=2
        LEFT JOIN SPORT_STATUS_BB I ON I.SPORT_AGAINST_INFO_ID = B.ID
        WHERE 1=1 AND B.LOTTERY_CODE = #{lotteryCode,jdbcType=INTEGER}
    </sql>

  <!-- 查询记录条数 -->
  <select id="findBBDataCount" resultType="java.lang.Integer" parameterType="com.hhly.skeleton.cms.sportmgr.vo.SMGLotteryParamVO">
    SELECT
    COUNT(1)
      <include refid="innerTableSql"/>
      <include refid="Select_"/>
  </select>


  <select id="findBBData" resultMap="BBDataResultMap" parameterType="com.hhly.skeleton.cms.sportmgr.vo.SMGLotteryParamVO">
    SELECT
          B.ID as SPORT_AGAINST_INFO_ID,
          B.LOTTERY_CODE,
          B.ISSUE_CODE,
          B.SYSTEM_CODE,
          B.HOME_TEAM_ID,
          B.VISITI_TEAM_ID,
          B.START_TIME,
      	  B.SPORT_MATCH_INFO_ID,
          B.MATCH_STATUS,
          B.MATCH_ANALYSIS_URL,
          B.MATCH_INFO_URL,
          B.IS_RECOMMEND,
          B.MATCH_LABEL_COLOR,
          B.OFFICIAL_MATCH_CODE,
          B.OFFICIAL_ID,
          B.IS_NEUTRAL,
          B.STADIUM,
          B.WEATHER,
          B.SALE_END_TIME,
	      B.MATCH_NAME,
	      B.HOME_NAME,
	      B.VISITI_NAME,
	      B.ODDS_WIN,
	      B.ODDS_DRAW,
	      B.ODDS_FAIL,
          A.ID AS SPORT_DRAW_BB_ID,
          A.FIRST_SCORE,
          A.SECOND_SCORE,
          A.THIRD_SCORE,
          A.FOURTH_SCORE,
          A.FULL_SCORE,
          A.OUT_TIME_SCORE,
          A.FULL_WF,
          A.LET_WF,
          A.SIZE_SCORE,
          A.WIN_SCORE,
          A.DRAW_TIME,
          E.LOTTERY_TIME,
          E.SALE_STATUS,
          M.ID as matchPrimaryId,
          M.MATCH_DATA_URL,
          M.MATCH_FULL_NAME,
          M.MATCH_SHORT_NAME,
          M.LOGO_URL,
          IFNULL(M.MATCH_TYPE,2) MATCH_TYPE,
          H.ID as homeTeamPrimaryId,
          H.TEAM_DATA_URL AS HOME_TEAM_DATA_URL,
          H.TEAM_FULL_NAME AS HOME_TEAM_FULL_NAME,
          H.TEAM_SHORT_NAME AS HOME_TEAM_SHORT_NAME,
          H.TEAM_ORDER AS HOME_TEAM_ORDER,
          H.LOGO_URL AS HOME_LOGO_URL,
          G.id as guestTeamPrimaryId,
          G.TEAM_DATA_URL AS GUEST_TEAM_DATA_URL,
          G.TEAM_FULL_NAME  AS GUEST_TEAM_FULL_NAME,
          G.TEAM_SHORT_NAME  AS GUEST_TEAM_SHORT_NAME,
          G.TEAM_ORDER AS GUEST_TEAM_ORDER,
          G.LOGO_URL  AS GUEST_LOGO_URL,
          I.ID as SPORT_STATUS_BB_ID,
          I.STATUS_WF,
          I.STATUS_LET_WF,
          I.STATUS_BIG_SMALL,
          I.STATUS_SCORE_WF,
          J.NEWEST_LET_SCORE,
          J.NEWEST_PRESET_SCORE,
          B.CREATE_BY,
          B.CREATE_TIME,
          B.MODIFY_BY,
          B.MODIFY_TIME,
          B.UPDATE_TIME,
          B.REMARK
      <include refid="innerTableSql"/>
      <include refid="Select_"/>
	   		ORDER BY
	  		<choose>  
	        <when test="sortField !=null and sortField!=''">  
	            ${sortField} ${sortOrder}
	        </when>   
	        <otherwise>  
	             B.MATCH_STATUS DESC, B.ISSUE_CODE,B.SYSTEM_CODE
	        </otherwise>  
	      </choose> 
    		<![CDATA[
           LIMIT #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
            ]]>
  </select>
  
  <select id="findAllList" resultType="com.hhly.skeleton.cms.sportmgr.bo.SportBBDataExcelBO" parameterType="com.hhly.skeleton.cms.sportmgr.vo.SMGLotteryParamVO">
    SELECT
   	   B.ID AS againstId ,
       B.ISSUE_CODE AS issueCode,
       B.SYSTEM_CODE AS systemCode,
       B.START_TIME AS startTime,
       B.MATCH_STATUS AS matchStatus,
       B.MATCH_ANALYSIS_URL AS analysisUrl,
       J.NEWEST_PRESET_SCORE AS presetScore,
       J.NEWEST_LET_SCORE AS letScore,
       B.OFFICIAL_ID AS officialId,
       <!-- A.HALF_SCORE AS halfScore, -->
       A.FULL_SCORE AS fullScore,
       E.SALE_STATUS AS saleStatus,
       M.MATCH_FULL_NAME AS matchFullName,
       M.MATCH_SHORT_NAME AS matchShortName,
       H.TEAM_FULL_NAME AS homeTeamFullName,
       H.TEAM_SHORT_NAME AS homeTeamShortName,
       G.TEAM_FULL_NAME  AS guestTeamFullName,
       G.TEAM_SHORT_NAME  AS guestTeamShortName,
       B.IS_RECOMMEND AS isRecommend
      <include refid="innerTableSql"/>
      <include refid="Select_"/>
      ORDER BY B.SYSTEM_CODE DESC,B.ID DESC
  </select>

  <select id="findBbOrderMatchDetail" parameterType="com.hhly.skeleton.cms.sportmgr.vo.SMGLotteryParamVO" resultMap="BBDataResultMap">
		SELECT A.SYSTEM_CODE, A.HOME_NAME, A.VISITI_NAME, A.START_TIME, B.FIRST_SCORE, B.SECOND_SCORE,
	    B.THIRD_SCORE, B.FOURTH_SCORE, B.FULL_SCORE, B.OUT_TIME_SCORE, B.FULL_WF, B.LET_WF, B.SIZE_SCORE,
	    B.WIN_SCORE
		FROM SPORT_AGAINST_INFO A LEFT JOIN sport_draw_bb B ON A.ID = B.SPORT_AGAINST_INFO_ID 
		WHERE A.LOTTERY_CODE = #{lotteryCode, jdbcType=VARCHAR}
		AND A.SYSTEM_CODE IN (${systemCode})
		ORDER BY FIELD(A.SYSTEM_CODE, ${systemCode})
  </select>  

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hhly.cmscore.persistence.sport.po.SportDrawBBPO" >
    insert into SPORT_DRAW_BB (SPORT_AGAINST_INFO_ID,
      FIRST_SCORE, SECOND_SCORE, THIRD_SCORE,
      FOURTH_SCORE,OUT_TIME_SCORE, FULL_SCORE, FULL_WF,
      LET_WF, SIZE_SCORE, WIN_SCORE,
      DRAW_TIME, MODIFY_BY, MODIFY_TIME,
      UPDATE_TIME, CREATE_TIME)
    values (#{sportAgainstInfoId,jdbcType=DECIMAL},
      #{firstScore,jdbcType=VARCHAR}, #{secondScore,jdbcType=VARCHAR}, #{thirdScore,jdbcType=VARCHAR},
      #{fourthScore,jdbcType=VARCHAR}, #{outTimeScore,jdbcType=VARCHAR}, #{fullScore,jdbcType=VARCHAR}, #{fullWf,jdbcType=DECIMAL},
      #{letWf,jdbcType=VARCHAR}, #{sizeScore,jdbcType=VARCHAR}, #{winScore,jdbcType=VARCHAR},
      #{drawTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=OTHER}, #{modifyTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hhly.cmscore.persistence.sport.po.SportDrawBBPO" >
    insert into SPORT_DRAW_BB (ID, SPORT_AGAINST_INFO_ID,
      FIRST_SCORE, SECOND_SCORE, THIRD_SCORE,
      FOURTH_SCORE,OUT_TIME_SCORE, FULL_SCORE, FULL_WF,
      LET_WF, SIZE_SCORE, WIN_SCORE,
      DRAW_TIME, MODIFY_BY, MODIFY_TIME,
      UPDATE_TIME, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{sportAgainstInfoId,jdbcType=DECIMAL},
      #{firstScore,jdbcType=VARCHAR}, #{secondScore,jdbcType=VARCHAR}, #{thirdScore,jdbcType=VARCHAR},
      #{fourthScore,jdbcType=VARCHAR}, #{outTimeScore,jdbcType=VARCHAR}, #{fullScore,jdbcType=VARCHAR}, #{fullWf,jdbcType=DECIMAL},
      #{letWf,jdbcType=VARCHAR}, #{sizeScore,jdbcType=VARCHAR}, #{winScore,jdbcType=VARCHAR},
      #{drawTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=OTHER}, #{modifyTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, now()) 
       
    ON DUPLICATE KEY UPDATE
        FIRST_SCORE = #{firstScore,jdbcType=VARCHAR},
        SECOND_SCORE = #{secondScore,jdbcType=VARCHAR},
        THIRD_SCORE = #{thirdScore,jdbcType=VARCHAR},
        FOURTH_SCORE = #{fourthScore,jdbcType=VARCHAR},
        OUT_TIME_SCORE = #{outTimeScore,jdbcType=VARCHAR},
        FULL_SCORE = #{fullScore,jdbcType=VARCHAR},
        FULL_WF = #{fullWf,jdbcType=DECIMAL},
        LET_WF = #{letWf,jdbcType=VARCHAR},
        SIZE_SCORE = #{sizeScore,jdbcType=VARCHAR},
        WIN_SCORE = #{winScore,jdbcType=VARCHAR},
      <if test="drawTime != null" >
        DRAW_TIME = #{drawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY = #{modifyBy,jdbcType=OTHER},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
        UPDATE_TIME = now()
  </update>

</mapper>