<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.cmscore.persistence.sport.dao.SportStatusWFDaoMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.cmscore.persistence.sport.po.SportStatusWFPO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SPORT_AGAINST_INFO_ID" property="sportAgainstInfoId" jdbcType="DECIMAL" />
    <result column="STATUS_LET_WF" property="statusLetWf" jdbcType="DECIMAL" />
    <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, SPORT_AGAINST_INFO_ID, STATUS_LET_WF, MODIFY_BY, MODIFY_TIME, 
    UPDATE_TIME, CREATE_TIME
  </sql>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hhly.cmscore.persistence.sport.po.SportStatusWFPO" >
    insert into SPORT_STATUS_WF (SPORT_AGAINST_INFO_ID, 
      STATUS_LET_WF, MODIFY_BY, MODIFY_TIME, 
      UPDATE_TIME, CREATE_TIME)
    values (#{sportAgainstInfoId,jdbcType=DECIMAL}, 
      #{statusLetWf,jdbcType=DECIMAL}, #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hhly.cmscore.persistence.sport.po.SportStatusWFPO" >
    update SPORT_STATUS_WF
    <set >
      <if test="sportAgainstInfoId != null" >
        SPORT_AGAINST_INFO_ID = #{sportAgainstInfoId,jdbcType=DECIMAL},
      </if>
      <if test="statusLetWf != null" >
        STATUS_LET_WF = #{statusLetWf,jdbcType=DECIMAL},
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>