<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hhly.cmscore.persistence.trend.high.dao.SscDaoMapper">

	<sql id="Table">
		TREND_SSC_RESULT
	</sql>

	<select id="findResultOmit"
		parameterType="com.hhly.skeleton.lotto.base.trend.vo.high.HighLotteryVO"
		resultType="com.hhly.skeleton.lotto.base.trend.high.bo.SscOmitBO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Table" />
		WHERE LOTTERY_CODE = #{lotteryCode}
		<if test="omitTypes != null">
			and FLAG in
			<foreach collection="omitTypes" item="omitType" open="("
				close=")" separator=",">
				#{omitType}
			</foreach>
		</if>
	</select>

	<select id="findRecentOmit"
		parameterType="com.hhly.skeleton.lotto.base.trend.vo.high.HighLotteryVO"
		resultType="com.hhly.skeleton.lotto.base.trend.high.bo.SscOmitBO">
		select
		<include refid="Base_Column_List" />
		from TREND_SSC_BASE
		where LOTTERY_CODE = #{lotteryCode}
		order by issue desc
		limit 0,#{qryCount}
	</select>

	<select id="findRecentIssue"
		parameterType="com.hhly.skeleton.lotto.base.trend.vo.high.HighLotteryVO"
		resultType="com.hhly.skeleton.lotto.base.trend.high.bo.SscOmitBO">
		select
		<trim suffixOverrides=",">
			li.issue_code issue,
			li.draw_code drawcode,
			<if test="sbig">
				sbig,
			</if>
			<if test="ssmall">
				ssmall,
			</if>
			<if test="sodd">
				sodd,
			</if>
			<if test="seven">
				seven,
			</if>
			<if test="gbig">
				gbig,
			</if>
			<if test="gsmall">
				gsmall,
			</if>
			<if test="godd">
				godd,
			</if>
			<if test="geven">
				geven,
			</if>
			<if test="h3z3">
				h3z3,
			</if>
			<if test="h3z6">
				h3z6,
			</if>
			<if test="h3bz">
				h3bz,
			</if>
		</trim>
		from lottery_issue li
		left outer join TREND_SSC_BASE tsb
		on
		li.lottery_code = tsb.lottery_code and li.issue_code = tsb.issue
		where
		li.lottery_code = #{lotteryCode}
		and li.issue_code <![CDATA[<]]>
		(select li.issue_code
		from lottery_issue li
		where lottery_code =
		#{lotteryCode}
		and current_issue = 1
		limit 1)
		order by li.issue_code desc
		limit #{qryCount}
	</select>

	<sql id="Base_Column_List">
		<trim suffixOverrides=",">
			<if test="showFlag">
				flag omitType,
			</if>
			<if test="showIssue">
				issue,
			</if>
			<if test="showDrawCode">
				drawcode drawCode,
			</if>
			<if test="span">
				span,
			</if>
			<if test="b0">
				b0,
			</if>
			<if test="b1">
				b1,
			</if>
			<if test="b2">
				b2,
			</if>
			<if test="b3">
				b3,
			</if>
			<if test="b4">
				b4,
			</if>
			<if test="b5">
				b5,
			</if>
			<if test="b6">
				b6,
			</if>
			<if test="b7">
				b7,
			</if>
			<if test="b8">
				b8,
			</if>
			<if test="b9">
				b9,
			</if>
			<if test="wb0">
				wb0,
			</if>
			<if test="wb1">
				wb1,
			</if>
			<if test="wb2">
				wb2,
			</if>
			<if test="wb3">
				wb3,
			</if>
			<if test="wb4">
				wb4,
			</if>
			<if test="wb5">
				wb5,
			</if>
			<if test="wb6">
				wb6,
			</if>
			<if test="wb7">
				wb7,
			</if>
			<if test="wb8">
				wb8,
			</if>
			<if test="wb9">
				wb9,
			</if>
			<if test="wbig">
				wbig,
			</if>
			<if test="wsmall">
				wsmall,
			</if>
			<if test="wodd">
				wodd,
			</if>
			<if test="weven">
				weven,
			</if>
			<if test="qb0">
				qb0,
			</if>
			<if test="qb1">
				qb1,
			</if>
			<if test="qb2">
				qb2,
			</if>
			<if test="qb3">
				qb3,
			</if>
			<if test="qb4">
				qb4,
			</if>
			<if test="qb5">
				qb5,
			</if>
			<if test="qb6">
				qb6,
			</if>
			<if test="qb7">
				qb7,
			</if>
			<if test="qb8">
				qb8,
			</if>
			<if test="qb9">
				qb9,
			</if>
			<if test="qbig">
				qbig,
			</if>
			<if test="qsmall">
				qsmall,
			</if>
			<if test="qodd">
				qodd,
			</if>
			<if test="qeven">
				qeven,
			</if>
			<if test="bb0">
				bb0,
			</if>
			<if test="bb1">
				bb1,
			</if>
			<if test="bb2">
				bb2,
			</if>
			<if test="bb3">
				bb3,
			</if>
			<if test="bb4">
				bb4,
			</if>
			<if test="bb5">
				bb5,
			</if>
			<if test="bb6">
				bb6,
			</if>
			<if test="bb7">
				bb7,
			</if>
			<if test="bb8">
				bb8,
			</if>
			<if test="bb9">
				bb9,
			</if>
			<if test="bbig">
				bbig,
			</if>
			<if test="bsmall">
				bsmall,
			</if>
			<if test="bodd">
				bodd,
			</if>
			<if test="beven">
				beven,
			</if>
			<if test="sb0">
				sb0,
			</if>
			<if test="sb1">
				sb1,
			</if>
			<if test="sb2">
				sb2,
			</if>
			<if test="sb3">
				sb3,
			</if>
			<if test="sb4">
				sb4,
			</if>
			<if test="sb5">
				sb5,
			</if>
			<if test="sb6">
				sb6,
			</if>
			<if test="sb7">
				sb7,
			</if>
			<if test="sb8">
				sb8,
			</if>
			<if test="sb9">
				sb9,
			</if>
			<if test="sbig">
				sbig,
			</if>
			<if test="ssmall">
				ssmall,
			</if>
			<if test="sodd">
				sodd,
			</if>
			<if test="seven">
				seven,
			</if>
			<if test="gb0">
				gb0,
			</if>
			<if test="gb1">
				gb1,
			</if>
			<if test="gb2">
				gb2,
			</if>
			<if test="gb3">
				gb3,
			</if>
			<if test="gb4">
				gb4,
			</if>
			<if test="gb5">
				gb5,
			</if>
			<if test="gb6">
				gb6,
			</if>
			<if test="gb7">
				gb7,
			</if>
			<if test="gb8">
				gb8,
			</if>
			<if test="gb9">
				gb9,
			</if>
			<if test="gbig">
				gbig,
			</if>
			<if test="gsmall">
				gsmall,
			</if>
			<if test="godd">
				godd,
			</if>
			<if test="geven">
				geven,
			</if>
			<if test="q3z3">
				q3z3,
			</if>
			<if test="q3z6">
				q3z6,
			</if>
			<if test="q3bz">
				q3bz,
			</if>
			<if test="h3z3">
				h3z3,
			</if>
			<if test="h3z6">
				h3z6,
			</if>
			<if test="h3bz">
				h3bz,
			</if>
			<if test="span">
				span,
			</if>
			<if test="s0">
				s0,
			</if>
			<if test="s1">
				s1,
			</if>
			<if test="s2">
				s2,
			</if>
			<if test="s3">
				s3,
			</if>
			<if test="s4">
				s4,
			</if>
			<if test="s5">
				s5,
			</if>
			<if test="s6">
				s6,
			</if>
			<if test="s7">
				s7,
			</if>
			<if test="s8">
				s8,
			</if>
			<if test="s9">
				s9,
			</if>
			<if test="s10">
				s10,
			</if>
			<if test="s11">
				s11,
			</if>
			<if test="s12">
				s12,
			</if>
			<if test="s13">
				s13,
			</if>
			<if test="s14">
				s14,
			</if>
			<if test="s15">
				s15,
			</if>
			<if test="s16">
				s16,
			</if>
			<if test="s17">
				s17,
			</if>
			<if test="s18">
				s18,
			</if>
			<if test="zxs0">
				zxs0,
			</if>
			<if test="zxs1">
				zxs1,
			</if>
			<if test="zxs2">
				zxs2,
			</if>
			<if test="zxs3">
				zxs3,
			</if>
			<if test="zxs4">
				zxs4,
			</if>
			<if test="zxs5">
				zxs5,
			</if>
			<if test="zxs6">
				zxs6,
			</if>
			<if test="zxs7">
				zxs7,
			</if>
			<if test="zxs8">
				zxs8,
			</if>
			<if test="zxs9">
				zxs9,
			</if>
			<if test="zxs10">
				zxs10,
			</if>
			<if test="zxs11">
				zxs11,
			</if>
			<if test="zxs12">
				zxs12,
			</if>
			<if test="zxs13">
				zxs13,
			</if>
			<if test="zxs14">
				zxs14,
			</if>
			<if test="zxs15">
				zxs15,
			</if>
			<if test="zxs16">
				zxs16,
			</if>
			<if test="zxs17">
				zxs17,
			</if>
			<if test="zxs18">
				zxs18,
			</if>
			<if test="zxs19">
				zxs19,
			</if>
			<if test="zxs20">
				zxs20,
			</if>
			<if test="zxs21">
				zxs21,
			</if>
			<if test="zxs22">
				zxs22,
			</if>
			<if test="zxs23">
				zxs23,
			</if>
			<if test="zxs24">
				zxs24,
			</if>
			<if test="zxs25">
				zxs25,
			</if>
			<if test="zxs26">
				zxs26,
			</if>
			<if test="zxs27">
				zxs27,
			</if>
			<if test="groupTwo0">
				zx2_0 groupTwo0,
			</if>
			<if test="groupTwo1">
				zx2_1 groupTwo1,
			</if>
			<if test="groupTwo2">
				zx2_2 groupTwo2,
			</if>
			<if test="groupTwo3">
				zx2_3 groupTwo3,
			</if>
			<if test="groupTwo4">
				zx2_4 groupTwo4,
			</if>
			<if test="groupTwo5">
				zx2_5 groupTwo5,
			</if>
			<if test="groupTwo6">
				zx2_6 groupTwo6,
			</if>
			<if test="groupTwo7">
				zx2_7 groupTwo7,
			</if>
			<if test="groupTwo8">
				zx2_8 groupTwo8,
			</if>
			<if test="groupTwo9">
				zx2_9 groupTwo9,
			</if>
			<if test="groupThree0">
				zx3_0 groupThree0,
			</if>
			<if test="groupThree1">
				zx3_1 groupThree1,
			</if>
			<if test="groupThree2">
				zx3_2 groupThree2,
			</if>
			<if test="groupThree3">
				zx3_3 groupThree3,
			</if>
			<if test="groupThree4">
				zx3_4 groupThree4,
			</if>
			<if test="groupThree5">
				zx3_5 groupThree5,
			</if>
			<if test="groupThree6">
				zx3_6 groupThree6,
			</if>
			<if test="groupThree7">
				zx3_7 groupThree7,
			</if>
			<if test="groupThree8">
				zx3_8 groupThree8,
			</if>
			<if test="groupThree9">
				zx3_9 groupThree9,
			</if>
		</trim>
	</sql>

	<!-- <sql id="Base_Column_Result_List_Test"> lottery_code, flag, b0, b1, 
		b2, b3, b4, b5, b6, b7, b8, b9, wb0, wb1, wb2, wb3, wb4, wb5, wb6, wb7, wb8, 
		wb9, wbig, wsmall, wodd, weven, qb0, qb1, qb2, qb3, qb4, qb5, qb6, qb7, qb8, 
		qb9, qbig, qsmall, qodd, qeven, bb0, bb1, bb2, bb3, bb4, bb5, bb6, bb7, bb8, 
		bb9, bbig, bsmall, bodd, beven, sb0, sb1, sb2, sb3, sb4, sb5, sb6, sb7, sb8, 
		sb9, sbig, ssmall, sodd, seven, gb0, gb1, gb2, gb3, gb4, gb5, gb6, gb7, gb8, 
		gb9, gbig, gsmall, godd, geven, q3z3, q3z6, q3bz, h3z3, h3z6, h3bz, s0, s1, 
		s2, s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, s17, s18, 
		updatetime </sql> <sql id="Base_Column_Base_List_Test" > issue, lottery_code, 
		drawcode, b1, b2, b3, b4, b5, b6, b7, b8, b9, wb1, wb2, wb3, wb4, wb5, wb6, 
		wb7, wb8, wb9, wbig, wsmall, wodd, weven, qb1, qb2, qb3, qb4, qb5, qb6, qb7, 
		qb8, qb9, qbig, qsmall, qodd, qeven, bb1, bb2, bb3, bb4, bb5, bb6, bb7, bb8, 
		bb9, bbig, bsmall, bodd, beven, sb1, sb2, sb3, sb4, sb5, sb6, sb7, sb8, sb9, 
		sbig, ssmall, sodd, seven, gb1, gb2, gb3, gb4, gb5, gb6, gb7, gb8, gb9, gbig, 
		gsmall, godd, geven, q3z3, q3z6, q3bz, h3z3, h3z6, h3bz, span, s0, s1, s2, 
		s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, s17, s18 </sql> -->

	<!-- <resultMap id="BaseResultMap" type="com.hhly.skeleton.lotto.base.trend.high.bo.SscOmitBO" 
		> <result column="ISSUE" property="issue" jdbcType="VARCHAR" javaType="string"/> 
		<result column="DRAWCODE" property="drawCode" jdbcType="VARCHAR" javaType="string"/> 
		<result column="FLAG" property="omitType" jdbcType="VARCHAR" /> <result column="b0" 
		property="b0" jdbcType="INTEGER" /> <result column="b1" property="b1" jdbcType="INTEGER" 
		/> <result column="b2" property="b2" jdbcType="INTEGER" /> <result column="b3" 
		property="b3" jdbcType="INTEGER" /> <result column="b4" property="b4" jdbcType="INTEGER" 
		/> <result column="b5" property="b5" jdbcType="INTEGER" /> <result column="b6" 
		property="b6" jdbcType="INTEGER" /> <result column="b7" property="b7" jdbcType="INTEGER" 
		/> <result column="b8" property="b8" jdbcType="INTEGER" /> <result column="b9" 
		property="b9" jdbcType="INTEGER" /> <result column="wb0" property="wb0" jdbcType="INTEGER" 
		/> <result column="wb1" property="wb1" jdbcType="INTEGER" /> <result column="wb2" 
		property="wb2" jdbcType="INTEGER" /> <result column="wb3" property="wb3" 
		jdbcType="INTEGER" /> <result column="wb4" property="wb4" jdbcType="INTEGER" 
		/> <result column="wb5" property="wb5" jdbcType="INTEGER" /> <result column="wb6" 
		property="wb6" jdbcType="INTEGER" /> <result column="wb7" property="wb7" 
		jdbcType="INTEGER" /> <result column="wb8" property="wb8" jdbcType="INTEGER" 
		/> <result column="wb9" property="wb9" jdbcType="INTEGER" /> <result column="wbig" 
		property="wbig" jdbcType="INTEGER" /> <result column="wsmall" property="wsmall" 
		jdbcType="INTEGER" /> <result column="wodd" property="wodd" jdbcType="INTEGER" 
		/> <result column="weven" property="weven" jdbcType="INTEGER" /> <result 
		column="qb0" property="qb0" jdbcType="INTEGER" /> <result column="qb1" property="qb1" 
		jdbcType="INTEGER" /> <result column="qb2" property="qb2" jdbcType="INTEGER" 
		/> <result column="qb3" property="qb3" jdbcType="INTEGER" /> <result column="qb4" 
		property="qb4" jdbcType="INTEGER" /> <result column="qb5" property="qb5" 
		jdbcType="INTEGER" /> <result column="qb6" property="qb6" jdbcType="INTEGER" 
		/> <result column="qb7" property="qb7" jdbcType="INTEGER" /> <result column="qb8" 
		property="qb8" jdbcType="INTEGER" /> <result column="qb9" property="qb9" 
		jdbcType="INTEGER" /> <result column="qbig" property="qbig" jdbcType="INTEGER" 
		/> <result column="qsmall" property="qsmall" jdbcType="INTEGER" /> <result 
		column="qodd" property="qodd" jdbcType="INTEGER" /> <result column="qeven" 
		property="qeven" jdbcType="INTEGER" /> <result column="bb0" property="bb0" 
		jdbcType="INTEGER" /> <result column="bb1" property="bb1" jdbcType="INTEGER" 
		/> <result column="bb2" property="bb2" jdbcType="INTEGER" /> <result column="bb3" 
		property="bb3" jdbcType="INTEGER" /> <result column="bb4" property="bb4" 
		jdbcType="INTEGER" /> <result column="bb5" property="bb5" jdbcType="INTEGER" 
		/> <result column="bb6" property="bb6" jdbcType="INTEGER" /> <result column="bb7" 
		property="bb7" jdbcType="INTEGER" /> <result column="bb8" property="bb8" 
		jdbcType="INTEGER" /> <result column="bb9" property="bb9" jdbcType="INTEGER" 
		/> <result column="bbig" property="bbig" jdbcType="INTEGER" /> <result column="bsmall" 
		property="bsmall" jdbcType="INTEGER" /> <result column="bodd" property="bodd" 
		jdbcType="INTEGER" /> <result column="beven" property="beven" jdbcType="INTEGER" 
		/> <result column="sb0" property="sb0" jdbcType="INTEGER" /> <result column="sb1" 
		property="sb1" jdbcType="INTEGER" /> <result column="sb2" property="sb2" 
		jdbcType="INTEGER" /> <result column="sb3" property="sb3" jdbcType="INTEGER" 
		/> <result column="sb4" property="sb4" jdbcType="INTEGER" /> <result column="sb5" 
		property="sb5" jdbcType="INTEGER" /> <result column="sb6" property="sb6" 
		jdbcType="INTEGER" /> <result column="sb7" property="sb7" jdbcType="INTEGER" 
		/> <result column="sb8" property="sb8" jdbcType="INTEGER" /> <result column="sb9" 
		property="sb9" jdbcType="INTEGER" /> <result column="sbig" property="sbig" 
		jdbcType="INTEGER" /> <result column="ssmall" property="ssmall" jdbcType="INTEGER" 
		/> <result column="sodd" property="sodd" jdbcType="INTEGER" /> <result column="seven" 
		property="seven" jdbcType="INTEGER" /> <result column="gb0" property="gb0" 
		jdbcType="INTEGER" /> <result column="gb1" property="gb1" jdbcType="INTEGER" 
		/> <result column="gb2" property="gb2" jdbcType="INTEGER" /> <result column="gb3" 
		property="gb3" jdbcType="INTEGER" /> <result column="gb4" property="gb4" 
		jdbcType="INTEGER" /> <result column="gb5" property="gb5" jdbcType="INTEGER" 
		/> <result column="gb6" property="gb6" jdbcType="INTEGER" /> <result column="gb7" 
		property="gb7" jdbcType="INTEGER" /> <result column="gb8" property="gb8" 
		jdbcType="INTEGER" /> <result column="gb9" property="gb9" jdbcType="INTEGER" 
		/> <result column="gbig" property="gbig" jdbcType="INTEGER" /> <result column="gsmall" 
		property="gsmall" jdbcType="INTEGER" /> <result column="godd" property="godd" 
		jdbcType="INTEGER" /> <result column="geven" property="geven" jdbcType="INTEGER" 
		/> <result column="q3z3" property="q3z3" jdbcType="INTEGER" /> <result column="q3z6" 
		property="q3z6" jdbcType="INTEGER" /> <result column="q3bz" property="q3bz" 
		jdbcType="INTEGER" /> <result column="h3z3" property="h3z3" jdbcType="INTEGER" 
		/> <result column="h3z6" property="h3z6" jdbcType="INTEGER" /> <result column="h3bz" 
		property="h3bz" jdbcType="INTEGER" /> <result column="span" property="span" 
		jdbcType="INTEGER" /> <result column="s0" property="s0" jdbcType="INTEGER" 
		/> <result column="s1" property="s1" jdbcType="INTEGER" /> <result column="s2" 
		property="s2" jdbcType="INTEGER" /> <result column="s3" property="s3" jdbcType="INTEGER" 
		/> <result column="s4" property="s4" jdbcType="INTEGER" /> <result column="s5" 
		property="s5" jdbcType="INTEGER" /> <result column="s6" property="s6" jdbcType="INTEGER" 
		/> <result column="s7" property="s7" jdbcType="INTEGER" /> <result column="s8" 
		property="s8" jdbcType="INTEGER" /> <result column="s9" property="s9" jdbcType="INTEGER" 
		/> <result column="s10" property="s10" jdbcType="INTEGER" /> <result column="s11" 
		property="s11" jdbcType="INTEGER" /> <result column="s12" property="s12" 
		jdbcType="INTEGER" /> <result column="s13" property="s13" jdbcType="INTEGER" 
		/> <result column="s14" property="s14" jdbcType="INTEGER" /> <result column="s15" 
		property="s15" jdbcType="INTEGER" /> <result column="s16" property="s16" 
		jdbcType="INTEGER" /> <result column="s17" property="s17" jdbcType="INTEGER" 
		/> <result column="s18" property="s18" jdbcType="INTEGER" /> </resultMap> -->
	<!-- <sql id="Base_Column_List" > <trim suffixOverrides="," > <if test="true" 
		> flag omitType, </if> <if test="b0" > b0, </if> <if test="b1" > b1, </if> 
		<if test="b2" > b2, </if> <if test="b3" > b3, </if> <if test="b4" > b4, </if> 
		<if test="b5" > b5, </if> <if test="b6" > b6, </if> <if test="b7" > b7, </if> 
		<if test="b8" > b8, </if> <if test="b9" > b9, </if> <if test="wb0" > wb0, 
		</if> <if test="wb1" > wb1, </if> <if test="wb2" > wb2, </if> <if test="wb3" 
		> wb3, </if> <if test="wb4" > wb4, </if> <if test="wb5" > wb5, </if> <if 
		test="wb6" > wb6, </if> <if test="wb7" > wb7, </if> <if test="wb8" > wb8, 
		</if> <if test="wb9" > wb9, </if> <if test="wbig" > wbig, </if> <if test="wsmall" 
		> wsmall, </if> <if test="wodd" > wodd, </if> <if test="weven" > weven, </if> 
		<if test="qb0" > qb0, </if> <if test="qb1" > qb1, </if> <if test="qb2" > 
		qb2, </if> <if test="qb3" > qb3, </if> <if test="qb4" > qb4, </if> <if test="qb5" 
		> qb5, </if> <if test="qb6" > qb6, </if> <if test="qb7" > qb7, </if> <if 
		test="qb8" > qb8, </if> <if test="qb9" > qb9, </if> <if test="qbig" > qbig, 
		</if> <if test="qsmall" > qsmall, </if> <if test="qodd" > qodd, </if> <if 
		test="qeven" > qeven, </if> <if test="bb0" > bb0, </if> <if test="bb1" > 
		bb1, </if> <if test="bb2" > bb2, </if> <if test="bb3" > bb3, </if> <if test="bb4" 
		> bb4, </if> <if test="bb5" > bb5, </if> <if test="bb6" > bb6, </if> <if 
		test="bb7" > bb7, </if> <if test="bb8" > bb8, </if> <if test="bb9" > bb9, 
		</if> <if test="bbig" > bbig, </if> <if test="bsmall" > bsmall, </if> <if 
		test="bodd" > bodd, </if> <if test="beven" > beven, </if> <if test="sb0" 
		> sb0, </if> <if test="sb1" > sb1, </if> <if test="sb2" > sb2, </if> <if 
		test="sb3" > sb3, </if> <if test="sb4" > sb4, </if> <if test="sb5" > sb5, 
		</if> <if test="sb6" > sb6, </if> <if test="sb7" > sb7, </if> <if test="sb8" 
		> sb8, </if> <if test="sb9" > sb9, </if> <if test="sbig" > sbig, </if> <if 
		test="ssmall" > ssmall, </if> <if test="sodd" > sodd, </if> <if test="seven" 
		> seven, </if> <if test="gb0" > gb0, </if> <if test="gb1" > gb1, </if> <if 
		test="gb2" > gb2, </if> <if test="gb3" > gb3, </if> <if test="gb4" > gb4, 
		</if> <if test="gb5" > gb5, </if> <if test="gb6" > gb6, </if> <if test="gb7" 
		> gb7, </if> <if test="gb8" > gb8, </if> <if test="gb9" > gb9, </if> <if 
		test="gbig" > gbig, </if> <if test="gsmall" > gsmall, </if> <if test="godd" 
		> godd, </if> <if test="geven" > geven, </if> <if test="q3z3" > q3z3, </if> 
		<if test="q3z6" > q3z6, </if> <if test="q3bz" > q3bz, </if> <if test="h3z3" 
		> h3z3, </if> <if test="h3z6" > h3z6, </if> <if test="h3bz" > h3bz, </if> 
		<if test="span" > span, </if> <if test="s0" > s0, </if> <if test="s1" > s1, 
		</if> <if test="s2" > s2, </if> <if test="s3" > s3, </if> <if test="s4" > 
		s4, </if> <if test="s5" > s5, </if> <if test="s6" > s6, </if> <if test="s7" 
		> s7, </if> <if test="s8" > s8, </if> <if test="s9" > s9, </if> <if test="s10" 
		> s10, </if> <if test="s11" > s11, </if> <if test="s12" > s12, </if> <if 
		test="s13" > s13, </if> <if test="s14" > s14, </if> <if test="s15" > s15, 
		</if> <if test="s16" > s16, </if> <if test="s17" > s17, </if> <if test="s18" 
		> s18, </if> </trim> </sql> -->
</mapper>