<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.cmscore.persistence.dic.dao.DicDataDaoMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.cmscore.persistence.dic.po.DicDataPO" >
    <id column="DIC_CODE" property="dicCode" jdbcType="VARCHAR" />
    <result column="DIC_NAME" property="dicName" jdbcType="VARCHAR" />
    <result column="UDPATE_TIME" property="udpateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    DIC_CODE, DIC_NAME, UDPATE_TIME, CREATE_TIME, REMARK
  </sql>
  <select id="find" parameterType="com.hhly.skeleton.cms.dicmgr.vo.DicDataVO" resultType="com.hhly.skeleton.cms.dicmgr.bo.DicDataBO">
       select 
       DIC_CODE dicCode, DIC_NAME dicName, UDPATE_TIME udpateTime, CREATE_TIME createTime, REMARK
       from dic_data
       <where>
	       <if test="dicCode!=null and dicCode!=''">
	          and DIC_CODE = #{dicCode}
	       </if>
	       <if test="dicName!=null and dicName!=''">
	          and DIC_NAME like '%${dicName}%'
	       </if>
       </where>
		order by dic_code       
  	 <if test="startRow != null and pageSize != null">
  	 	limit #{startRow},#{pageSize} 
 	 </if>
  </select>
  <select id="findTotal" parameterType="com.hhly.skeleton.cms.dicmgr.vo.DicDataVO" resultType="int">
 		select count(1) from dic_data
       <where>
	       <if test="dicCode!=null and dicCode!=''">
	          and DIC_CODE = #{dicCode}
	       </if>
	       <if test="dicName!=null and dicName!=''">
	          and DIC_NAME like '%${dicName}%'
	       </if>
       </where>  
  </select>
  <insert id="add" parameterType="com.hhly.cmscore.persistence.dic.po.DicDataPO">
    insert into DIC_DATA (DIC_CODE, DIC_NAME, UDPATE_TIME, 
      CREATE_TIME, REMARK)
    values (#{dicCode,jdbcType=VARCHAR}, #{dicName,jdbcType=VARCHAR},now(),
      now(), #{remark,jdbcType=VARCHAR})
  </insert>
  
   <update id="updByPrimaryKey" parameterType="com.hhly.cmscore.persistence.dic.po.DicDataPO">
    update DIC_DATA
    set DIC_NAME = #{dicName,jdbcType=VARCHAR},
      UDPATE_TIME = now(),
      REMARK = #{remark,jdbcType=VARCHAR}
    where DIC_CODE = #{dicCode,jdbcType=VARCHAR}
  </update>
  
  <select id="findRcmdUserLevel" resultType="com.hhly.skeleton.base.bo.DictionaryBO">
  	 select id,type as text from rcmd_user_type
  </select>
</mapper>